
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <header class="header_title">
                <p>Change Password </p>
            </header>
            <div class="well">
                <form >
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Current Password<span class="errorMessage" style="color:red;">*</span></label>
                               
                                    <input type="password" class="form-control" placeholder="Current Password" required />                                  
                              
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>New Password<span class="errorMessage" style="color:red;">*</span></label>
                                <input type="password" class="form-control" placeholder="New Password" required />    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Re-type Password<span class="errorMessage" style="color:red;">*</span></label>
                                <input type="password" class="form-control" placeholder="Re-type Password" required />    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <hr />
                            <button type="submit" class="btn btn-primary pull-right" ><span class="glyphicon glyphicon-send"></span>  Submit</button>
                            <button type="button" name="" class="btn btn-primary pull-right" *ngIf="false">
                                <i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i> Loading
                            </button>
                            <span style="color:red">{{error3}}</span>
                            <span style="color:red">{{error1}}</span>
                            <span style="color:red">{{error2}}</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

