/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.header_title {
    border-color: #cbd2d5 !important;
    background: #cbd2d5;
    color: black;
    padding: 11px;
    text-align: center;
    height: 41px;
    font-size: 16px;
}
.header_title p{
 margin: 0;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
}
